@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html,body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #F4F4F4;
}
body {
	min-height: 100vh;
}
h1 {

	font-weight: 700; 
	font-style: normal; 

	letter-spacing: -0.04em;
	font-size: 30px;
	line-height: 1.1;
	color: #333332;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.main {
	width : 100%;
	/*background-color: #FFFFFF;*/
	align-self: center;
	min-height: 400px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 40px 5px rgba(222,222,222,0.5);	
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	position :relative;
}

.footer {
	height: 30px;
	display: flex;
	background-color: #ffff;
	width: 100%;
	justify-content: center;
	align-items: center;
	color : #AAAAAA;
	
}
.light {
	font-size: 25px;
	color: #dadada;
}
.bubble-gum-red {
	color : #FF93AC;
}
.white {
	color : #fff;
}
h2 {
	color: #898989;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 15px;
}
.section {
	min-width: 300px;
	max-width: 450px;
}
.section ul {
	list-style: none;
	/*padding : 0;*/
	margin : 0;
}
.card {
	background-color: #fff;
	padding: 10px;
	box-shadow: 5px 5px 40px 5px rgba(222,222,222,0.5);	
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	transition : transform .3s ease;
	margin-bottom: 10px;
}
.card .image {
	width : 50px;
	height: 50px;
	border-radius: 5px;
	align-self: center;
	box-sizing: border-box;
}
.image {
	width : 50px;
	height: 50px;
	border-radius: 5px;
	align-self: center;
	box-sizing: border-box;
}
.red {
	background-color: #FF6161;
	color : #fff !important;
}
.card .details {
	width: 80%;
	display: flex;
	flex-direction: column;

}
.card .details .label {
	font-weight: 800;
	color : #5C5C5C;
	margin-bottom: 10px;
}
.card .details .description {
	font-size: 12px;
	color : #898989;
	font-family: 'Lato',sans-serif;

}
.hover:hover {
	transform : scale(1.013);
	box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.12);
}
.tags {
	display: flex;
}
.tags div , .tag {
	
	color: #898989;
	font-size: 12px;
	border-radius: 5px;
	min-width: 50px;	
	padding: 5px;
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;



}
.yellow {
	background-color: #F1FFB9;
}
.light-blue {
	background-color: #DFF4FF
}
a {
	text-decoration: none;
}
.green {
	background-color: #74F2AC;
}
.green-color {
	color: #74F2AC;
}

.yellow {
	background-color: #FDF39C;
}
.blue {
	background-color: #7CD3FC;
}
.orange {
	background-color: #FDA65F;
}
.blog {
	background-color: #fff;
	padding: 20px;
	box-shadow: 5px 5px 40px 5px rgba(222,222,222,0.5);	
	border-radius: 5px;
	/*display: flex;*/
	justify-content: space-around;
	transition : transform .3s ease;
	margin-bottom: 10px;	
}
.no-padding {
	padding: 0;
}
.blog .title {
	text-transform: capitalize;
	font-weight: 800;
	color: #5C5C5C;
}
.blog .timestamp {
	color :#dadada;
	font-size: 12px;
}
.blog  li {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #fafafa;
	padding-bottom: 10px;
	padding-top: 10px;
}
.blog a {
	align-self: flex-end;

}
.blog p {
	margin: 2px;
}
.contact {
	list-style: none;
	display: flex;
	padding: 0;

}
.contact li {
	margin-left: 10px;
	font-size: 20px;
	color: #454343;
}
.image {
	box-sizing: border-box;
}
.image img {
	width : 100%;
	border-radius: 5px;

}
.purple {
	background-color: #B962F6;
}
.alternative-blue {
	background-color: #297DF0;
}
.gray {
	background-color: #878686;
}
.alternative-orange {
	background-color: #FCD22A;
}
.repo , .contact li{
	color : #888;
	box-shadow: 5px 5px 40px 5px rgba(222,222,222,1);	
	font-size: 25px;
	border-radius: 50px;
	margin-left: 20px;
	transition : transform .5s ease;
}
.repo:hover , .contact li:hover {
	transform : scale(1.2);
	box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.12);
}
.post-section {
	background-color: #fff;
	width : 60%;
	padding: 20px;
	margin:0 auto;
	margin-top: -40px;
}
.post-section p {
	font-size: 20px;
	font-weight: 300;
	font-family: 'Lato';
}
.post-title {
	padding-bottom: 10px;
}
.post-image {
	margin: 0 auto;
	width : 300px;
	box-shadow: 5px 5px 40px 5px rgba(222,222,222,0.5);	

}
.post-image p {
	margin : 0;
	text-align: center;
	color: #777;
	font-size: 15px;
	padding: 10px;

}
.contact li a  {
	color : #444;
	font-size: 20px;
}
